@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

.instructionsButton{
  position: absolute;
  top: 50px;
  left: 25px;
  background: url('@/images/questionmark.png');
  background-size: contain;
  width: 100px;
  height: 100px;
  &:hover{
    opacity: 0.3;
  }
}